<app-background [imageUrl]="'/assets/clientes/requeterico/text1.webp'"></app-background>
<section *ngIf="!loading" class="content fade-in" [class.fade]="true" [class.show]="visible"
    class="transition-container">
    <app-header [src_path]="'assets/clientes/requeterico/logo0.webp'"></app-header>
    <app-slider></app-slider>
    <app-search-bar [item_placeholder]="item_placeholder" (search)="onSearch($event)"></app-search-bar>
    <div class="container py-4">
        <div class="row g-4 mt-3">
            @for (item of items; track item.nombre) {
            <div class="col-md-4 px-4 text-center " id="cart-item">
                <div class="card shadow-sm border-4 rounded-5 overflow-hidden div-carta position-relative"
                    style="max-width: 400px;">
                    <div class="blurred-load text-center position-relative" (click)="openLightbox(item.imagen)"
                        [style.backgroundImage]="'url(' + item.small_imagen + ')'">
                        <img src="{{item.imagen}}" alt="" loading="lazy" class="img-fluid w-100 object-fit-cover" />
                    </div>
                    <!-- Contenido encima -->
                    <div class="blurred-img card-body text-center px-4 pb-5 position-relative" id="cuerpo-card"
                        style="z-index: 2;">
                        <!-- <img src="fondo-claro.webp" alt="" loading="lazy" class="fondo-card fondo-card-textura" /> -->
                        <div id="card-nombre" class="pt-4 pb-2 px-1">
                            <div class="card-title fw-bold text-uppercase" style="color: #6b4c3b;">
                                {{ item.nombre }}
                            </div>
                        </div>
                        <div id="card-descripcion" class="pt-2">
                            <i class="bi bi-quote"></i>
                            {{ item.descripcion }}.
                        </div>
                        <div class="btn rounded-3" id="boton-card">
                            $ {{ item.precio }}
                        </div>
                    </div>
                </div>
            </div>
            }
            <!-- [routerLink]="['/']" -->
            <a [routerLink]="['/menuonline', 'requeterico', 'carta']"
                class="btn button-add-cart checkout-button boton-volver">
                <!-- <i class="bi bi-arrow-left"></i> -->
                <!-- <i class="fa fa-undo px-2 py-1" aria-hidden="true"></i> -->
                VOLVER
            </a>
        </div>
        <!-- Lightbox -->
        <div class="lightbox" [class.show]="lightboxVisible" [class.hide]="!lightboxVisible && lightboxImage"
            (click)="closeLightbox($event)">
            <span class="close-btn">&times;</span>
            <img class="lightbox-content" [src]="lightboxImage" (dblclick)="toggleZoom()" [style.transform]="zoomTransform"
                [style.cursor]="zoomLevel === 1 ? 'zoom-in' : 'zoom-out'" />
        </div>
    </div>
    <app-copyright [marginBotClassDiv]="'mb-5'"></app-copyright>
</section>
<app-scroll-to-top></app-scroll-to-top>