<header id="header" class="header d-flex align-items-center fixed-top" [class.navbar-scrolled]="isScrolled">
    <div class="container-fluid container-xl position-relative d-flex align-items-center mt-2 lg-5">
        <a href="#" class="logo d-flex align-items-center me-auto"><img id="logo_home"
                src="assets/landing/FInal-02-mini.webp" alt="FInal-02-mini"></a>
    </div>
    <div class="lg-5 d-flex align-items-center mt-2" style="margin-right: 1rem;">
        <a [routerLink]="['auth/login']" class="d-flex align-items-center pr-4">
            <img id="logo_home" src="assets/landing/login2.png" alt="login" style="height: 30px; margin-right: 8px;">
            <span class="m-0 text-white" style="font-size: 15px;font-weight: 700;">LOGIN</span>
        </a>
    </div>
</header>