.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
:host-context(.cliente-city_tandil) {
    .background-container {
        background-size: contain;
    }
}
:host-context(.cliente-mi_granito_de_cafe) {
    .background-container {
        filter: brightness(0.9) blur(1px);
        transform: scale(1.1);
    }
}

:host-context(.cliente-capitano) {
    .background-container {
            background-size: contain;
        }
}