<div  [ngClass]="[clienteClass, isSticky ? 'sticky-slider' : '']" class="carta-container">
    <button type="button" class="nav-arrow left" (click)="scrollByItems('left')" [class.hidden]="!canScrollLeft">
        &#10094;
    </button>
    <div  class="scroll-container" #scrollContainer (scroll)="onContainerScroll()">
        <div class="scroll-track" #scrollTrack>
            <div *ngFor="let categoria of categorias" class="slider-item"
                [class.active]="isActiveCategory(categoria.route)">
                <a  
                [routerLink]="['/menuonline', cliente, 'carta', categoria.route]"
                class="category-link"
                (click)="seleccionarCategoria(categoria.route)"
                    [class.active]="isActiveCategory(categoria.route)">
                    <div class="menu-item mx-1" [class.active]="isActiveCategory(categoria.route)"
                        [ngStyle]="{ 'background': 'url(' + cardImage + ')' }">
                        <img [src]="categoria.icon" [alt]="categoria.nombre" class="category-icon">
                    </div>
                    <p class="category-label">{{ categoria.nombre }}</p>
                </a>
            </div>
        </div>
    </div>
    <button type="button" class="nav-arrow right" (click)="scrollByItems('right')" [class.hidden]="!canScrollRight">
        &#10095;
    </button>
</div>