<div  [ngClass]="[clienteClass, isSticky ? 'sticky-slider' : '']" class="carta-container">
    <div  class="scroll-container" #scrollContainer>
        <div class="scroll-track">
            <div *ngFor="let categoria of categorias" class="slider-item"
                [class.active]="isActiveCategory(categoria.route)">
                <a  
                [routerLink]="['/menuonline', cliente, 'carta', categoria.route]"
                class="category-link"
                (click)="seleccionarCategoria(categoria.route)"
                    [class.active]="isActiveCategory(categoria.route)">
                    <div class="menu-item mx-1" [class.active]="isActiveCategory(categoria.route)"
                        [ngStyle]="{ 'background': 'url(' + cardImage + ')' }">
                        <img [src]="categoria.icon" [alt]="categoria.nombre" class="category-icon">
                    </div>
                    <p class="category-label">{{ categoria.nombre }}</p>
                </a>
            </div>
        </div>
    </div>
</div>