<div class="scroll-container mt-2 mb-5">
    <div class="scroll-track">
        <div *ngFor="let categoria of duplicated_items;let i = index">
        <a class="text-center d-block" href="/menuonline/requeterico/carta/{{categoria.route}}"
        (click)="setActive(i,$event)">
        <!-- [routerLink]="['/menuonline', 'requeterico', 'carta', categoria.route]" -->
            <div class="menu-item categoria-div mt-3 mx-1" [class.active]="activeIndex === i"
            [attr.data-route]="categoria.route">
                <img [src]="categoria.icon" [alt]="categoria.label" />
            </div>
            <p class="m-0 small">{{ categoria.label }}</p>
        </a>
        </div>
    </div>
</div>