/* @import '../menuonline/carta/carta.component.css'; */
/* @import '../inicio/inicio.component.css'; */

* {
    font-family: 'Nunito';
    font-size: 15px;
}


:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}
:root {
    --p-toolbar-background: var(--p-content-background);
    --p-toolbar-border-color: var(--p-content-border-color);
    --p-toolbar-border-radius: var(--p-content-border-radius);
    --p-toolbar-color: var(--p-content-color);
    --p-toolbar-gap: 0.5rem;
    --p-toolbar-padding: 0.75rem;
}

:root {
    --body-bg: var(--p-surface-50);
    --body-text-color: var(--p-surface-900);
    --card-border: 1px solid var(--border-color);
    --card-bg: var(--p-surface-0);
    --border-color: var(--p-surface-200);
    --text-color: var(--p-surface-700);
    --overlay-background: #ffffff;
}

:root[class='p-dark'] {
    --body-bg: var(--p-surface-950);
    --body-text-color: var(--p-surface-50);
    --card-border: 1px solid transparent;
    --card-bg: var(--p-surface-900);
    --border-color: rgba(255, 255, 255, 0.1);
    --text-color: var(--p-surface-0);
    --overlay-background: var(--p-surface-900);
}

html {
    font-size: 14px;
}


#td-acciones > *{
        margin: 0 10px;
}