/* spinner */
.spinner-overlay {
        position: fixed;
        inset: 0;
        z-index: 9999;
        background: linear-gradient(95deg, #d000ff 0%, #6600ff 100%);
        background-size: 200% 200%;
        animation: gradientMove .8s ease-in-out infinite alternate;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.spinner-logo {
        width: 98px;
        height: 98px;
        margin-bottom: 32px;
        animation: fadeInMove 1.2s forwards;
        background-image: url('../../../../public/assets/landing/FInal-05.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
}

.spinner {
        border: 8px solid #ffffff;
        border-top: 8px solid #7c3aed;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        animation: spin 0.7s linear infinite;
}




/* capitano
:host-context(.cliente-capitano) {
    .spinner-overlay {
        background: linear-gradient(120deg, #c8ac78 0%, #ffffff 100%) !important;
    }

    .spinner {
        border-top: 8px solid #c8ac78 !important;
    }

}

:host-context(.cliente-capitano) .spinner-logo {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/menu-digital-e8e62.firebasestorage.app/o/clientes%2Fcapitano%2Flogo01.webp?alt=media&token=f4a3b223-5b28-4d47-9658-72c3af0ed4ff');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
} */


/* foster_tandil */
:host-context(.cliente-foster_tandil) {
        .spinner-overlay {
                /* background: linear-gradient(95deg, #1E382D 0%, #edc7c4 100%) !important;position: fixed; */
                position: fixed;
                inset: 0;
                z-index: 9999;
                background: linear-gradient(95deg, #1E382D 0%, #8f7675 100%);
                background-size: 200% 200%;
                animation: gradientMove .8s ease-in-out infinite alternate;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

        }

        .spinner {
                border: 8px solid #1E382D;
                border-top: 8px solid #edc7c4 !important;
        }

        .spinner-logo {
                background-image: url('https://firebasestorage.googleapis.com/v0/b/menu-digital-e8e62.firebasestorage.app/o/clientes%2Ffoster_tandil%2Flogo0.webp?alt=media') !important;
                width: 200px;
        }
}


/* enris_tandil */
:host-context(.cliente-enris_tandil) {
        .spinner-overlay {
                position: fixed;
                inset: 0;
                z-index: 9999;
                background: linear-gradient(95deg, #FFF000 0%, #fdf68b 100%);
                background-size: 200% 200%;
                animation: gradientMove .8s ease-in-out infinite alternate;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

        }

        .spinner {
                border-top: 8px solid black !important;
        }

        .spinner-logo {
                background-image: url('https://firebasestorage.googleapis.com/v0/b/menu-digital-e8e62.firebasestorage.app/o/clientes%2Fenris_tandil%2Ficono-linea-enris.webp?alt=media') !important;
                width: 200px;
        }
}



@keyframes spin {
        100% {
                transform: rotate(360deg);
        }
}

@keyframes gradientMove {
        0% {
                background-position: 0% 50%;
        }

        100% {
                background-position: 100% 50%;
        }
}

/* cafe_bistro_tandil */
:host-context(.cliente-cafe_bistro_tandil) {
        .spinner-overlay {
                position: fixed;
                inset: 0;
                z-index: 9999;
                background: linear-gradient(95deg, #f9f6f6 0%, #c77e30 100%);
                background-size: 200% 200%;
                animation: gradientMove .8s ease-in-out infinite alternate;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

        }

        .spinner {
                border-top: 8px solid #c77e30 !important;
        }

        .spinner-logo {
                background-image: url('https://firebasestorage.googleapis.com/v0/b/menu-digital-e8e62.firebasestorage.app/o/clientes%2Fcafe_bistro_tandil%2Flogo0.webp?alt=media') !important;
                width: 200px;
        }
}