input {
    font-size: 14px;
    width: 80%;
    padding: 5px 15px !important;
    border: 2px solid;
    border-radius: 18px;
    height: 2rem;
    pointer-events: all;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    text-align: center;
    font-weight: 500;
    text-align-last: center;
    text-align: center;
    margin-bottom: 0px;
    outline: none;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    line-height: 1.15;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    cursor: text;
}

input[type="text"] {
    padding-right: 2.5rem;
    /* Espacio para la cruz */
}

/* Estilos específicos para clientes */

/* Cliente: requeterico */
.cliente-requeterico {
    --input-bg-color: rgb(255 250 240 / 80%);
    --input-border-color: #fef4e500;
    --input-text-color: #4d4d4d;

    input {
        background-color: var(--input-bg-color);
        border-color: var(--input-border-color);
        color: var(--input-text-color);
    }
}





/* Cliente: requeterico */
.cliente-cientochenta {
    --verde-hoja: #4b7200;
    --cafe-tostado-claro: #A77E58;
    --negro-carbon-suave: #2E2E2E;
    --font-family: "Poppins",
        sans-serif;

    input {
        font-family: var(--font-family);
        background-color: white;
        border-color: var(--cafe-tostado-claro);
        color: var(--negro-carbon-suave);
    }
}

/* Cliente: demo_hotel */
.cliente-demo_hotel {
    --font-family: Lato, sans-serif;
    --negro: black;

    input {
        font-family: var(--font-family);
        background-color: white;
        border-color: var(--negro);
        color: var(--negro);
    }
}

/* Cliente: nexus_cafe_tandil */
.cliente-nexus_cafe_tandil {
    --font-family: Lato, sans-serif;
    --negro: black;
    --ambar: #D8A45F;

    input {
        font-family: var(--font-family);
        background-color: white;
        border-color: var(--ambar);
        color: var(--negro);
    }
}

/* Cliente: ojo_cafe_tandil */
.cliente-ojo_cafe_tandil {
    --font-family: 'Inter',
        sans-serif;
    --negro: black;
    --primary-color: #fdede0;
    --ambar: #D8A45F;
    --gris: #3c3c3c;

    input {
        font-family: var(--font-family);
        background-color: white;
        border-color: var(--primary-color);
        color: var(--gris);
    }
}

/* Cliente: 1823_castillo_morisco_tandil */
.cliente-1823_castillo_morisco_tandil {
    --marron: #8E5838;
    --detalle: #a66d44;
    --blanco: white;
    --font-family: 'Crimson Pro', serif;

    input {
        font-family: var(--font-family);
        background-color: white;
        border-color: var(--marron);
        color: var(--marron);
    }
}

/* Cliente: beer_house_tandil */
.cliente-beer_house_tandil {
    --ambar: #D8A45F;
    --negro: black;
    --font-family: 'Roboto', sans-serif;

    input {
        font-family: var(--font-family);
        background-color: white;
        border-color: var(--ambar);
        color: var(--negro);
    }
}

/* Cliente: tramonto_tandil */
.cliente-tramonto_tandil {
    --ambar: #f5a02b;
    --negro: #302c32;
    --font-family: 'lato', sans-serif;

    input {
        font-family: var(--font-family);
        background-color: white;
        border-color: var(--ambar);
        color: var(--negro);
    }
}

/* Cliente: prego_tandil */
.cliente-prego_tandil {
    --blanco: white;
    --verde: #829577;
    --font-family: 'lato', sans-serif;

    input {
        font-family: var(--font-family);
        background-color: white;
        border-color: var(--verde);
        color: var(--negro);
    }
}


/* Cliente: flor_del_alba */
.cliente-flor_del_alba {
    --bordo: #320001;
    --verde: #6c775f;
    --blanco: white;
    --font-family: 'lato', sans-serif;
    --verde: #6c775f;

    input {
        font-family: var(--font-family);
        background-color: white;
        border-color: var(--verde);
        color: var(--negro);
    }
}

/* Cliente: tierra_de_azafranes */
.cliente-tierra_de_azafranes {
    --negro: black;
    --rojo: #c82527;
    --font-family: 'lato', sans-serif;

    input {
        font-family: var(--font-family);
        background-color: white;
        border-color: var(--negro);
        color: var(--negro);
    }
}