#logo{
    max-width: 260px;
}

:host-context(.cliente-requeterico) {
    #logo {
        max-width: 210px !important;
    }
}

/* :host-context(.cliente-capitano) {
    #logo {
        max-width: 260px !important;
    }
} */

:host-context(.cliente-nexus_cafe_tandil) {
    #logo {
        max-width: 115px !important;
    }
}

:host-context(.cliente-ojo_cafe_tandil) {
    #logo {
        max-width: 220px !important;
    }
}