#logo{
    max-width: 260px;
}

:host-context(.cliente-requeterico) {
    #logo {
        max-width: 210px !important;
    }
}

/* :host-context(.cliente-capitano) {
    #logo {
        max-width: 260px !important;
    }
} */

:host-context(.cliente-nexus_cafe_tandil) {
    #logo {
        max-width: 115px !important;
    }
}

:host-context(.cliente-ojo_cafe_tandil) {
    #logo {
        max-width: 220px !important;
    }
}

:host-context(.cliente-1823_castillo_morisco_tandil) {
    #logo {
        width: 225px !important;
    }
}

:host-context(.cliente-time_coffee_tandil) {
    #logo {
        width: 280px !important;
        max-width: 280px !important;
    }
    .text-center{
        margin-top:3rem !important;
        margin-bottom:3rem !important;
    }
}

:host-context(.cliente-beer_house_tandil) {
    #logo {
        width: 190px !important;
        max-width: 190px !important;
    }

    .text-center {
        margin-top: 2rem !important;
        /* margin-bottom: 3rem !important; */
    }
}

:host-context(.cliente-prego_tandil) {
    #logo {
        width: 280px !important;
    }
}


:host-context(.cliente-morgana_le_fay) {
    #logo {
        width:160px !important;
    }
}