@font-face {
        font-family: 'Riesling';
        font-style: normal;
        font-weight: 400;
        src: local('Riesling'), url('https://fonts.cdnfonts.com/s/24320/riesling.woff') format('woff');
}