.progress-wrap {
  position: fixed;
  right: 10px;
  bottom: 70px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 300ms ease-out;
  overflow: hidden;

  &::after {
    content: '↑';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    transition: all 300ms ease-out;
  }

  &.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .progress-circle path {
    stroke-width: 4;
    fill: none;
  }
}

/* Estilos específicos para clientes */
/* Cliente: requeterico */
.cliente-requeterico {
  --progress-bg-color: #442814;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #442814;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: requeterico */
.cliente-requeterico {
  --progress-bg-color: #442814;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #442814;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: city_tandil */
.cliente-city_tandil {
  --progress-bg-color: #f2c057;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}


/* Cliente: demo_cafeteria */
.cliente-demo_cafeteria {
  --progress-bg-color: #442814;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ac6331;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }
  }
}

/* Cliente: capitano */
.cliente-capitano {
  --progress-bg-color: #c8ac78;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: cientochenta */
.cliente-cientochenta {
  --progress-bg-color: #A77E58;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}


/* Cliente: demo_hotel */
.cliente-demo_hotel {
  --progress-bg-color: black;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: ojo_cafe_tandil */
.cliente-ojo_cafe_tandil {
  --gris: #3c3c3c;
  --blanco: #fdede0;
  --progress-bg-color: var(--blanco);
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: var(--gris);

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: 1823_castillo_morisco_tandil */
.cliente-1823_castillo_morisco_tandil {
  --progress-bg-color: #8E5838;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: time_coffee_tandil */
.cliente-time_coffee_tandil {
  --progress-bg-color: black;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}


/* Cliente: beer_house_tandil */
.cliente-beer_house_tandil {
  --progress-bg-color: black;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: tramonto_tandil */
.cliente-tramonto_tandil {
  --progress-bg-color: #302c32;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: prego_tandil */
.cliente-prego_tandil {
  --progress-bg-color: #68785f;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: flor_del_alba */
.cliente-flor_del_alba {
  --progress-bg-color: #320001;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: tierra_de_azafranes */
.cliente-tierra_de_azafranes {
  --progress-bg-color: black;
  /* --progress-border-color: #663C1F; */
  /* --progress-arrow-color: #663C1F; */
  --progress-circle-color: #ffffff;

  .progress-wrap {
    box-shadow: inset 0 0 0 3px #ffffff;
    background: var(--progress-bg-color);

    &::after {
      color: var(--progress-circle-color);
    }

    .progress-circle path {
      stroke: var(--progress-circle-color);
    }

  }
}

/* Cliente: foster_tandil */
.cliente-foster_tandil {
        --progress-bg-color: #1E382D;
        /* --progress-border-color: #663C1F; */
        /* --progress-arrow-color: #663C1F; */
        --progress-circle-color: #edc7c4;

        .progress-wrap {
                box-shadow: inset 0 0 0 3px #edc7c4;
                background: var(--progress-bg-color);

                &::after {
                        color: var(--progress-circle-color);
                }

                .progress-circle path {
                        stroke: var(--progress-circle-color);
                }

        }
}


/* Cliente: enris_tandil */
.cliente-enris_tandil {
        --progress-bg-color: black;
        /* --progress-border-color: #663C1F; */
        /* --progress-arrow-color: #663C1F; */
        --progress-circle-color: #ffffff;

        .progress-wrap {
                box-shadow: inset 0 0 0 3px #ffffff;
                background: var(--progress-bg-color);

                &::after {
                        color: var(--progress-circle-color);
                }

                .progress-circle path {
                        stroke: var(--progress-circle-color);
                }

        }
}

/* Cliente: cafe_bistro_tandil */
.cliente-cafe_bistro_tandil {
        --progress-bg-color: #72471a;
        /* --progress-border-color: #663C1F; */
        /* --progress-arrow-color: #663C1F; */
        --progress-circle-color: #ffffff;

        .progress-wrap {
                box-shadow: inset 0 0 0 3px #ffffff;
                background: var(--progress-bg-color);

                &::after {
                        color: var(--progress-circle-color);
                }

                .progress-circle path {
                        stroke: var(--progress-circle-color);
                }

        }
}



/* Cliente: caminito_tandil */
.cliente-caminito_tandil {
        --progress-bg-color: black;
        /* --progress-border-color: #663C1F; */
        /* --progress-arrow-color: #663C1F; */
        --progress-circle-color: #fc9004;

        .progress-wrap {
                box-shadow: inset 0 0 0 3px #ffffff;
                background: var(--progress-bg-color);

                &::after {
                        color: var(--progress-circle-color);
                }

                .progress-circle path {
                        stroke: var(--progress-circle-color);
                }

        }
}

/* Cliente: baro_tandil */
.cliente-baro_tandil {
        --progress-bg-color: black;
        /* --progress-border-color: #663C1F; */
        /* --progress-arrow-color: #663C1F; */
        --progress-circle-color: white;

        .progress-wrap {
                box-shadow: inset 0 0 0 3px #ffffff;
                background: var(--progress-bg-color);

                &::after {
                        color: var(--progress-circle-color);
                }

                .progress-circle path {
                        stroke: var(--progress-circle-color);
                }

        }
}