/* estructura */
.header {
    text-align: center;
    padding: 2rem 1rem;
}

.logo {
    width: 100px;
    margin-bottom: 1rem;
}

.header h1 {
    font-size: 1.8rem;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.transition {
    transition: all 0.3s ease;
}
#cat {
    font-size: 14px;
    text-transform: uppercase;
    max-width: 190px;
    height: 165px;
    padding: 5px 15px;
}

.icon-nombre {
    font-size: 3rem;
}
.categoria-label {
    font-size: 15px;
}

.categoria-div {
    align-content: end;
}

.icono {
    height: 80px;
}


/* clientes */

/* requeterico */
.cliente-requeterico{
    --text-color: #6B4226;
    --text-color-brown:#5C3A2E;
    --font-family: 'Caveat' !important;

    * {
        font-family: 'Caveat' !important;
    }
    .cliente-requeterico{
        font-family: var(--font-family);
    }
    .menu-text {
        color: var(--text-color);
    }
    .categoria-label {
        color: var(--text-color);
    }
    .text-brown {
        color: var(--text-color-brown);
    }
}

/*  */