/* estructura */
.header {
    text-align: center;
    padding: 2rem 1rem;
}

.logo {
    width: 100px;
    margin-bottom: 1rem;
}

.header h1 {
    font-size: 1.8rem;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.transition {
    transition: all 0.3s ease;
}

#cat {
    font-size: 14px;
    text-transform: uppercase;
    max-width: 190px;
    height: 165px;
    padding: 5px 15px;
}

.icon-nombre {
    font-size: 3rem;
}

.categoria-label {
    font-size: 15px;
}

.categoria-div {
    align-content: end;
    align-content: center;
    border-radius: 36px;
}
.img-fluid{
    margin-bottom:5px;
}
.icono {
    height: 60px;
}

.loader-overlay {
    position: fixed;
    z-index: 9999;
    inset: 0;
    background: #7c3aed;
    /* Violeta */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
}

.loader-logo {
    width: 180px;
    height: auto;
    opacity: 0;
    animation: fadeInMove 1.2s forwards;
}

@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateY(40px) scale(0.9);
    }

    60% {
        opacity: 1;
        transform: translateY(-10px) scale(1.05);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


/* clientes */

/* requeterico */
.cliente-requeterico {
    --text-color: #6B4226;
    --text-color-brown: #5C3A2E;
    --font-family: 'Caveat' !important;

    * {
        font-family: 'Caveat' !important;
    }

    .cliente-requeterico {
        font-family: var(--font-family);
    }

    .menu-text {
        color: var(--text-color);
    }

    .categoria-label {
        color: var(--text-color);
    }

    .text-brown {
        color: var(--text-color-brown);
    }
}

.cliente-restaurante {
    --text-color: #dadada;
    --text-color-brown: #eaeaea;
    --font-family: "Playfair Display", serif;
    --marron-oscuro:#3E2C1C;
    --fuente-principal:#3E2C1C;
    --fuente-secundaria:#5A4535;
    --fondo-card:#F5E2C0;
    --sombra-card:#F5E2C0;

    
    * {
        font-family:var(--font-family);
        color: var(--text-color);
        font-optical-sizing: auto;
        font-style: normal;
    }


    .text-brown {
        color: var(--marron-oscuro);
    }

    .categoria-div{
        background-size: cover;
    }
}


/* Cliente: city */
.cliente-city_tandil {
    --text-color: #ffffff;
    --text-color-brown: #eaeaea;
    --font-family: "Montserrat", serif;
    --marron-oscuro: #d1d1d0;
    --fuente-principal: #3E2C1C;
    --fuente-secundaria: #5A4535;
    --fondo-card: #F5E2C0;
    --sombra-card: #F5E2C0;
    --primary-color: #6c6c6c;
    --secondary-color: #F2C057;
    /* --text-color: white; */

    * {
        font-family: var(--font-family);
        color: var(--text-color);
        font-optical-sizing: auto;
        font-style: normal;
    }


    .text-brown {
        color: var(--secondary-color);
    }

    .categoria-div {
        background-size: cover;
    }

    a{
        color: var(--text-color);
    }
}


/* Cliente: mi_granito_de_cafe */
.cliente-mi_granito_de_cafe {
    --text-color: #4f342f;
    --text-color-brown: #eaeaea;
    --font-family:"Raleway",
        sans-serif;
    --marron-oscuro: #d1d1d0;
    --fuente-principal: #3E2C1C;
    --fuente-secundaria: #5A4535;
    --fondo-card: #F5E2C0;
    --sombra-card: #F5E2C0;
    --primary-color: #6c6c6c;
    --secondary-color: #F2C057;
    /* --text-color: white; */
    --light-color:#ac6331;

    * {
        font-family: var(--font-family);
        color: var(--text-color);
        font-optical-sizing: auto;
        font-style: normal;
    }


    .text-brown {
        color: var(--text-color);
    }

    .categoria-div {
        background-size: cover;
    }

    a{
        color: var(--text-color);
    }
}




/* capitano */
.cliente-capitano {
    --text-color: #c8ac78;
    --text-color-brown: #eaeaea;
    --font-family: "Urbanist",
            sans-serif;
    --marron-oscuro: #d1d1d0;
    --fuente-principal: #3E2C1C;
    --fuente-secundaria: #5A4535;
    --fondo-card: #F5E2C0;
    --sombra-card: #F5E2C0;
    --primary-color: #6c6c6c;
    --secondary-color: #F2C057;
    /* --text-color: white; */
    --light-color: #ac6331;

    * {
        font-family: var(--font-family);
        color: var(--text-color);
        font-optical-sizing: auto;
        font-style: normal;
    }


    .text-brown {
        color: var(--text-color);
    }

    .categoria-div {
        background-size: cover;
    }

    a {
        color: var(--text-color);
    }
}


/* cientochenta */
.cliente-cientochenta {
    --verde-hoja:#4b7200;
    --cafe-tostado-claro:#A77E58;
    --negro-carbon-suave:#2E2E2E;
    --beige-claro:#F1DDC2;
    --blanco-calido:#FDFBF8;
    --text-color: #A77E58;
    --text-color-brown: #eaeaea;
    --font-family: "Poppins",
        sans-serif;
    --marron-oscuro: #d1d1d0;
    --fuente-principal: #3E2C1C;
    --fuente-secundaria: #5A4535;
    --fondo-card: #F5E2C0;
    --sombra-card: #F5E2C0;
    --primary-color: #6c6c6c;
    --secondary-color: #F2C057;
    /* --text-color: white; */
    --light-color: #ac6331;

    * {
        font-family: var(--font-family);
        color: var(--text-color);
        font-optical-sizing: auto;
        font-style: normal;
    }


    .text-brown {
        color: var(--verde-hoja);
    }

    .categoria-div {
        background-size: cover;
    }

    a {
        color: var(--text-color);
    }
}

/* plaza_hotel_tandil */
.cliente-plaza_hotel_tandil {
    --negro: #000000;
    --fondo-categorias:#F5E4C4;
    --detalles:#3B3B3B;
    --font-family: "GFS Didot",serif;

    * {
        font-family: var(--font-family);
        color: var(--negro);
        font-optical-sizing: auto;
        font-style: normal;
    }


    .text-brown {
        color: var(--negro);
    }

    .categoria-div {
        background-size: cover;
    }
}


/* nexus_cafe_tandil */
.cliente-nexus_cafe_tandil {
    --gris:#2d2d2b;
    --tipografia: #D8D6D3;
    --fondo-categorias: #F5E4C4;
    --detalles: #3B3B3B;
    --font-family: "Poppins", sans-serif;
    --ambar:#D8A45F;

    * {
        font-family: var(--font-family);
        color: var(--tipografia);
        font-optical-sizing: auto;
        font-style: normal;
    }

    .text-brown {
        color: var(--ambar);
    }

    .categoria-div {
        background-size: cover;
    }
}

/* ojo_cafe_tandil */
.cliente-ojo_cafe_tandil {
    --gris: #3c3c3c;
    --tipografia: #fdede0;
    --font-family: "Fredoka", sans-serif;
    --ambar: #D8A45F;

    * {
        font-family: var(--font-family);
        color: var(--gris);
        font-optical-sizing: auto;
        font-style: normal;
    }

    .text-brown {
        color: var(--gris);
    }

    .categoria-div {
        background-size: cover;
    }
}