<app-background [imageUrl]="backgroundImage"></app-background>
<app-spinner [@fadeInOut]  *ngIf="loading"></app-spinner>
<div [@fadeInOut]  [ngClass]="clienteClass" class="carta-container">
    <section *ngIf="!loading" class="content fade-in show" [class.fade]="true" [class.show]="visible" class="transition-container">
        <app-header [cliente]="cliente" [src_path]="logoImage"></app-header>
        <div  class="container pt-4 pb-5">
            <div class="row g-4 justify-content-center px-2">
                @for (categoria of categorias; track categoria.nombre) {
                <div class="col-6 " id="cat">
                    <a [routerLink]="['/menuonline', cliente, 'carta', categoria.route]" class="text-decoration-none">
                        <div class="text-center bg-white shadow rounded-4 p-3 h-100 hover-shadow transition categoria-div"
                            [ngStyle]="{ 'background-image': 'url(' + cardImage + ')' }">
                            <img class="img-fluid icono" src="{{categoria.icon}}" alt="{{categoria.nombre}}">
                            <div class="fw-bold text-brown mt-2 categoria-label">{{ categoria.nombre }}</div>
                        </div>
                    </a>
                </div>
                }
            </div>
        </div>
        <app-copyright *ngIf="!loading"  [marginBotClassDiv]="'mb-3'"></app-copyright>
    </section>
</div>