<app-spinner [@fadeInOut] *ngIf="loading"></app-spinner>

<div [@fadeContent] *ngIf="!loading" id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <i class="bi bi-person-fill-gear"></i>
            </div>
            <div class="sidebar-brand-text mx-3">PANEL <br> ADMINISTRADOR</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link">
                <i class="bi bi-list"></i>
                <span>Carta Digital</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <!-- <div class="sidebar-heading">
            Interface
        </div> -->

        <li class="nav-item">
            <a class="nav-link cerrar_sesion" (click)="logout()">
                <i class="bi bi-box-arrow-left "></i>
                <span>Cerrar sesión</span></a>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <!-- <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Components</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="buttons.html">Buttons</a>
                    <a class="collapse-item" href="cards.html">Cards</a>
                </div>
            </div>
        </li> -->

        <!-- Nav Item - Utilities Collapse Menu -->
        <!-- <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Utilities</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Utilities:</h6>
                    <a class="collapse-item" href="utilities-color.html">Colors</a>
                    <a class="collapse-item" href="utilities-border.html">Borders</a>
                    <a class="collapse-item" href="utilities-animation.html">Animations</a>
                    <a class="collapse-item" href="utilities-other.html">Other</a>
                </div>
            </div>
        </li> -->

        <!-- Divider -->
        <!-- <hr class="sidebar-divider"> -->

        <!-- Heading -->
        <!-- <div class="sidebar-heading">
            Addons
        </div> -->

        <!-- Nav Item - Pages Collapse Menu -->
        <!-- <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="login.html">Login</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li> -->

        <!-- Nav Item - Charts -->
        <!-- <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
        </li> -->

        <!-- Nav Item - Tables -->
        <!-- <li class="nav-item active">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a>
        </li> -->

        <!-- Divider -->
        <!-- <hr class="sidebar-divider d-none d-md-block"> -->

        <!-- Sidebar Toggler (Sidebar) -->
        <!-- <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div> -->

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Search -->
                <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form> -->

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <!-- <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a> -->
                    <!-- Dropdown - Messages -->
                    <!-- <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li> -->

                    <!-- Nav Item - Alerts -->
                    <!-- <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i> -->
                    <!-- Counter - Alerts -->
                    <!-- <span class="badge badge-danger badge-counter">3+</span> -->
                    <!-- </a> -->
                    <!-- Dropdown - Alerts -->
                    <!-- <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li> -->

                    <!-- Nav Item - Messages -->
                    <!-- <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i> -->
                    <!-- Counter - Messages -->
                    <!-- <span class="badge badge-danger badge-counter">7</span> -->
                    <!-- </a> -->
                    <!-- Dropdown - Messages -->
                    <!-- <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.</div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="...">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how
                                        would you like them sent to you?</div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="...">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with
                                        the progress so far, keep up the good work!</div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                        alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                        told me that people say this to all dogs, even if they aren't good...</div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li> -->

                    <!-- <div class="topbar-divider d-none d-sm-block"></div> -->

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{clienteId}}</span>
                            <img class="img-profile" src="{{logoImage}}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div> -->
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Panel Admin | {{clienteId}}</h1>
                <p class="mb-4">En esta seccion puedes administrar tu carta.</p>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <p-toast />
                    <p-toolbar styleClass="mb-6">
                        <ng-template #start>
                            <p-button label="Agregar" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
                            <!-- <p-button severity="danger" label="Borrar" icon="pi pi-trash" outlined
                                (onClick)="deleteSelectedProducts()"
                                [disabled]="!selectedProducts || !selectedProducts.length" /> -->
                        </ng-template>

                        <ng-template #end>
                            <p-iconfield>
                                <input pInputText type="text"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Buscar..." />
                            </p-iconfield>
                            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar"
                                chooseLabel="Import" auto customUpload class="mr-2 inline-block"
                                [chooseButtonProps]="{ severity: 'secondary' }" />
                            <p-button label="Exportar" icon="pi pi-upload" severity="secondary"
                                (onClick)="exportCSV()" /> -->
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [value]="productos" [rows]="5" [paginator]="true"
                        [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedProducts" [rowHover]="true"
                        dataKey="idProducto"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos"
                        [showCurrentPageReport]="true"
                        [globalFilterFields]="['nombre', 'descripcion', 'precio', 'categoria.nombre','esActivo']"
                        sortField="nombre">
                        <ng-template pTemplate="header" #header>
                            <tr>
                                <!-- <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th> -->
                                <th pSortableColumn="nombre" style="min-width:16rem">
                                    Nombre
                                    <p-sortIcon field="nombre" />
                                </th>
                                <th pSortableColumn="descripcion" style="min-width: 8rem">
                                    Descripcion
                                    <p-sortIcon field="descripcion" />
                                </th>
                                <th>Imagen</th>
                                <th pSortableColumn="precio" style="min-width: 8rem">
                                    Precio
                                    <p-sortIcon field="precio" />
                                </th>
                                <th pSortableColumn="categoria.nombre" style="min-width:10rem">
                                    Categoria
                                    <p-sortIcon field="categoria.nombre" />
                                </th>
                                <th pSortableColumn="esActivo" style="min-width: 12rem">
                                    Estado
                                    <p-sortIcon field="esActivo" />
                                </th>
                                <th style="min-width: 12rem">
                                    Acciones
                                </th>
                                <th style="min-width: 12rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-producto #body>
                            <tr>
                                <!-- <td style="width: 3rem">
                                    <p-tableCheckbox [value]="producto"></p-tableCheckbox>
                                </td> -->
                                <td style="min-width: 16rem">{{ producto.nombre }}</td>
                                <td>{{ producto.descripcion }}</td>
                                <td>
                                    <img [src]="producto.imagen" [alt]="producto.nombre" style="width: 64px"
                                        class="rounded" />
                                </td>
                                <td>{{ producto.precio | currency:'ARS' }}</td>
                                <td>{{ producto.categoria?.nombre || producto.categoriaId }}</td>
                                <td>
                                    <p-tag [value]="producto.esActivo ? 'Activo' : 'Inactivo'"
                                        [severity]="producto.esActivo ? 'success' : 'danger'"></p-tag>
                                </td>
                                <td>
                                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                                        (click)="editProduct(producto)"></p-button>
                                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                                        (click)="showDeleteDialog(producto)"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <p-dialog [(visible)]="productDialog" [style]="{ width: '750px' }" header="Detalles del producto"
                        [modal]="true" (onHide)="hideDialog()" [closable]="!isLoading" [closeOnEscape]="!isLoading"
                        [modal]="true">
                        <ng-template #content>
                            <div class="flex flex-col gap-6">
                                <!-- <form (ngSubmit)="saveProduct()" #productForm="ngForm"> -->
                                <div class="p-fluid">
                                    <div>
                                        <label class="block font-bold mb-3" for="nombre">Nombre</label>
                                        <input pInputText id="nombre" type="text" pInputText
                                            [(ngModel)]="productoSeleccionado.nombre" name="nombre" required autofocus
                                            fluid />
                                        <small class="text-danger" *ngIf="submitted && !productoSeleccionado.nombre">El
                                            nombre es
                                            obligatorio.</small>
                                    </div>
                                    <div class="pt-4">
                                        <label class="block font-bold mb-3" for="descripcion">Descripción</label>
                                        <textarea id="descripcion" pTextarea
                                            [(ngModel)]="productoSeleccionado.descripcion" name="descripcion" required
                                            rows="3" cols="20" fluid></textarea>
                                        <small class="text-danger"
                                            *ngIf="submitted && !productoSeleccionado.descripcion">La descripcion es
                                            obligatoria.</small>
                                    </div>
                                    <div class="pt-4">
                                        <label class="block font-bold mb-3" for="categoriaId">Categoría</label>
                                        <p-select [(ngModel)]="productoSeleccionado.categoria" inputId="categoriaId"
                                            [options]="categorias" optionLabel="nombre"
                                            placeholder="Seleccione una categoría" fluid />
                                        <small class="text-danger"
                                            *ngIf="submitted && !productoSeleccionado.categoria.categoriaId">La
                                            categoria es obligatoria.</small>
                                    </div>
                                    <div class="pt-4">
                                        <label class="block font-bold mb-3" for="precio">Precio</label>
                                        <p-inputnumber id="price" [(ngModel)]="productoSeleccionado.precio"
                                            mode="currency" currency="ARS" locale="es-AR" fluid />
                                        <small class="text-danger" *ngIf="submitted && !productoSeleccionado.precio">El
                                            precio es obligatorio.</small>
                                    </div>
                                    <div class="pt-4">
                                        <label class="block font-bold mb-3">Estado</label>
                                        <p-select [(ngModel)]="productoSeleccionado.esActivo" inputId="esActivo"
                                            [options]="estados" name="esActivo" inputId="esActivo" optionLabel="estado"
                                            optionValue="value" optionLabel="estado" placeholder="Seleccione un estado"
                                            fluid />
                                        <small class="text-danger"
                                            *ngIf="submitted && productoSeleccionado.esActivo == null">El estado es
                                            obligatorio.</small>
                                    </div>
                                    <div class="pt-4" *ngIf="productoSeleccionado?.idProducto && productoSeleccionado?.imagen">
                                        <label class="block font-bold mb-3">Imagen actual</label>
                                        <div class="flex items-center gap-3">
                                            <img class="mx-5 d-block img-fluid mx-auto" [src]="productoSeleccionado.imagen" alt="Imagen actual"
                                                style="max-width: 150px; max-height: 150px; margin-bottom: 10px;">
                                            <p-button icon="pi pi-trash" label="Eliminar imagen" severity="danger" outlined (onClick)="borrarImagenActual()"
                                            ></p-button>
                                        </div>
                                        <small class="text-muted">Si eliminas la imagen, se asignará una imagen por defecto al guardar.</small>                          </div>
                                    <div class="pt-5">
                                        <label class="block font-bold mb-3">Nueva Imagen</label>
                                        <p-fileupload name="nuevaImagenFile" [customUpload]="true"
                                            (onSelect)="onSelectImage($event)" [multiple]="false" accept="image/*"
                                            maxFileSize="1000000" mode="advanced"
                                            invalidFileSizeMessageSummary="{0}: Tamaño de imagen invalido"
                                            invalidFileSizeMessageDetail="Tamaño máximo es {0}."
                                            invalidFileTypeMessageSummary="Tipo de imagen inválido."
                                            chooseLabel="Cargar"
                                            showUploadButton="false"
                                            showCancelButton="false"
                                            [disabled]="isLoading"
                                            >
                                            <ng-template #empty>
                                                <div>Arrastra imagenes aquí para cargar.</div>
                                            </ng-template>
                                        </p-fileupload>
                                    </div>
                                </div>
                                <!-- <ng-template pTemplate="footer" #footer>
                                        <p-button label="Cancelar1" icon="pi pi-times"
                                             (click)="hideDialog()"/>
                                            <p-button [disabled]="isLoading"  label="Guardar1" icon="pi pi-check" (click)="saveProduct()" />
                                    </ng-template> -->
                                <!-- </form> -->
                            </div>
                        </ng-template>
                        <ng-template #footer>
                            <p-button [loading]="isLoading" label="Cancelar" icon="pi pi-times"
                                (click)="hideDialog()" />
                            <p-button [disabled]="isProductoInvalido()" [loading]="isLoading" label="Guardar"
                                icon="pi pi-check" (click)="saveProduct()" severity="success" />
                        </ng-template>
                    </p-dialog>

                    <p-confirmDialog [style]="{ width: '750px' }" />


                    <p-dialog header="Confirmar eliminación" [(visible)]="deleteDialogVisible" [closable]="!isDeleting"
                        [closeOnEscape]="!isDeleting" [modal]="true" [blockScroll]="true"
                        [style]="{ minWidth: '750px' }">
                        <div>
                            ¿Seguro que deseas eliminar el producto <b>{{ productoAEliminar?.nombre }}</b>?
                        </div>
                        <ng-template pTemplate="footer">
                            <p-button label="Cancelar" (click)="onCancelDelete()" [loading]="isDeleting"></p-button>
                            <p-button label="Eliminar" (click)="onAcceptDelete()" [loading]="isDeleting"
                                [loading]="isDeleting" severity="danger"></p-button>
                        </ng-template>
                    </p-dialog>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Marketingeros</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>