.copyright {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    place-self: center;
    margin-left: auto;
    margin-right: auto;
}

.copyright a img {
    max-width: 130px;
    vertical-align: middle;
    margin-bottom: 3px;
    text-align: center;
}

.copyright a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;

}

.copyright-logo {
    width: 130px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-image: url('../../../../public/assets/landing/FInal-02.png');
}


.copyright{
    align-items: center;
    place-content: center;
}

.copyright div{
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
}

:host-context(.cliente-requeterico) {
    color: var(--text-color);
    font-family: 'Caveat', cursive;

    .copyright a {
        color: #6b4c3b;
    }
}

:host-context(.cliente-requeterico) .copyright-logo {
    background-image: url('../../../../public/assets/landing/FInal-02.png');
}

:host-context(.cliente-city_tandil) {
    --primary-color: #ffffff;
    --secondary-color: #F2C057;
    font-family: 'Montserrat', sans-serif !important;
    color: var(--secondary-color);
    font-family: Arial, sans-serif;

    .copyright a {
        color: var(--secondary-color);
    }
}

:host-context(.cliente-mi_granito_de_cafe) {
    --primary-color: #ffffff;
    --secondary-color: #F2C057;
    font-family: 'Montserrat', sans-serif !important;
    color: var(--secondary-color);
    font-family: Arial, sans-serif;

    .copyright a {
        color: var(--primary-color);
    }
}

:host-context(.cliente-capitano) {
    --primary-color: #ffffff;
    --secondary-color: #c8ac78;
    font-family: 'Urbanist', sans-serif !important;
    color: var(--secondary-color);

    .copyright a {
        color: var(--primary-color);
    }
}

:host-context(.cliente-capitano) .copyright-logo {
    background-image: url('../../../../public/assets/landing/FInal-02.png');
}

:host-context(.cliente-cientochenta) {
    --verde-hoja: #4b7200;
    --primary-color: #ffffff;
    --secondary-color: #c8ac78;
    *{
        color: var(--verde-hoja);
        font-family: 'Poppins', sans-serif !important;
        
    }

    .copyright a {
        color: var(--verde-hoja);
    }
}

:host-context(.cliente-cientochenta) .copyright-logo {
    background-image: url('../../../../public/assets/landing/logo-marketingeros3.webp');
}

:host-context(.cliente-plaza_hotel_tandil) {
    --negro:black;

    * {
        color: var(--negro);
        font-family: "GFS Didot",
            serif !important;

    }

    .copyright a {
        color: var(--negro);
    }
}

:host-context(.cliente-plaza_hotel_tandil) .copyright-logo {
    background-image: url('../../../../public/assets/landing/logo-marketingeros3.webp');
}